html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  background: url("../images/background.png");
  color: #ccc;
  font-family: "Roboto", sans-serif;
  max-width: 600px;
  margin: 0 auto;
}

.result {
  margin-left: 5%;
  background: rgba(33, 33, 33, 0.5);
}

.result--hidden {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}
